<div class="modal" id="user-login-modal" *ngIf="!loggedIn">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">LOGIN</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form class="modal-card-body" [formGroup]="userLoginForm" (ngSubmit)="onSubmit()" method="POST">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email" id="email" formControlName="email">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" id="password" type="password" formControlName="password">
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{errorMessage}}
      </div>
      <button type="submit" [disabled]="!userLoginForm.valid">Submit</button>
    </form>
  </div>
</div>
